.navbar{
    padding: 20px 0px;
    display: flex;  /* makes it stay in place */
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* background-color: #0D0D0D; */
}
.navbar .logo{
    font-size: 20px;
    cursor: pointer;
    word-spacing: 5px;
    color: #6051bd;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}
.navbar-right a {
    color: #49557e;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 600;
    color:#49557e;
    font-size: 16px;
    cursor: pointer;
}

.navbar li {
    cursor: pointer;
}

.navbar .active {
    padding-bottom: 2px;
    color: #6051bd;
    border-bottom: 2px solid #6051bd;
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }        
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}
@media (max-width: 900px) {
    .navbar .logo{
        width: 140px;
    }        
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width: 750px) {     
    .navbar-menu{
        display: none;
    }
}
@media (max-width: 600px) {
    .navbar{
        padding: 10px 0px;
    }
    .navbar .logo{
        font-size: 120px;
    }
    .navbar-right{
        gap: 15px;
    }
    .navbar-right img {
        width: 18px;
    }
    .navbar-right button {
        padding: 5px 15px;
        font-size: 14px;
    }
}
    @media (max-width: 450px) {
        
    }
