.header{
    margin-top: 100px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 10% 52% 38%;
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon {
    width: 22px;
    height: 22px;
    fill: #6041bd; /* changes the SVG color */
    transition: fill 0.3s;
}
.header-container-left{
    display: flex;
    justify-content: end;
    padding: 30px;
}

.icon:hover {
    fill: #6c51be; /* example hover color */
}
.header-content-center{
    padding: 30px;
    height: auto;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.header-content-center h1{
    color: #6041bd;
    margin-top: 12px;
    font-size: 48px;
    letter-spacing: 1px;
    padding: 5px;
}
.header-content-center h3{
    color: #868686;
    font-weight: 500;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
}
.header-content-center p{
    color: #999393;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.header-content-center button{
    margin-left: 5px;
    width: 160px;
    height: 40px;
    padding: 10px 15px 10px 15px;
    background-color: #6041bd;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.header-content-center button:hover{
    background-color: #6448b9;
}
.header-content-right{
    margin-left: 100px;

}

.image{
    width: 100%;
    height: auto;
    border: 3px solid #6041bd;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}